<!doctype html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Green Points</title>

  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="topbar">
    <div class="topbar-right">
      {% if request.session.get("user_id") %}
        <a href="/home">Home</a>
        <span class="dot">·</span>
        <a href="/rules">遊戲規則</a>
        <span class="dot">·</span>
        <a href="/logout">Logout</a>
      {% else %}
      <a href="/">Home</a>
      <span class="dot">·</span>
      <a href="/login">Login</a>
      <span class="dot">·</span>
      <a href="/rules">遊戲規則</a>
      {% endif %}
    </div>
  </div>

  {% block content %}{% endblock %}
</body>
</html>