{% extends "base.html" %}
{% block content %}
<div class="card">
  <h3>使用者中心</h3>
  <p>Email：{{ user.email }}</p>
  <p><strong>Green Points：{{ user.green_points }}</strong></p>
  <div class="row">
    <a href="/redeem">輸入交易代碼</a>
  </div>

  <h4>最近明細</h4>
  <table>
    <tr><th>時間</th><th>點數</th><th>代碼</th><th>店家</th></tr>
    {% for r in logs %}
      <tr>
        <td>{{ r.created_at }}</td>
        <td>+{{ r.points }}</td>
        <td>{{ r.code }}</td>
        <td>#{{ r.merchant_id }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
